@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  user-select: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("./images/bg.jpg");
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  width: 100vw;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.82);
}

.navbar div {
  transition: 0.2s;
}

.navbar .logo {
  color: rgb(154, 208, 255);
}

.navbar .nav-item1:hover {
  font-size: 24px;
  color: aliceblue;
}

.navbar .nav-item2:hover {
  font-size: 24px;
}

.navbar .nav-item3:hover {
  font-size: 24px;
}

.navbar .nav-item4:hover {
  font-size: 24px;
}

.slider {
  width: 300vw;
  height: 92vh;
  display: flex;
  transform: translateY(-8vh);
  z-index: -1;
  animation: slide 12s infinite;
}

.slider .slide {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 10vw;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 180px;
  color: white;
}

.slider .slide1 {
  background-image: url("./images/1.jpg");
}

.slider .slide2 {
  background-image: url("./images/2.jpg");
}

.slider .slide3 {
  background-image: url("./images/3.jpg");
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  16.66% {
    transform: translate(0);
  }
  33.33% {
    transform: translate(-100vw);
  }
  50% {
    transform: translate(-100vw);
  }
  66.66% {
    transform: translate(-200vw);
  }
  83.33% {
    transform: translate(-200vw);
  }
  100% {
    transform: translate(0);
  }
}

.header {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 70px;
}

hr {
  height: 5px;
  width: 70%;
  margin: 30px;
  background-color: rgb(0, 0, 0);
  border: 0 solid black;
}

.pdfs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: center;
  justify-content: space-evenly;
}

.left img {
  border-radius: 50%;
  border: 5px solid black;
}

.right {
  height: 25vh;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  margin-top: 10vh;
  border-collapse: collapse;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

table th,
table td {
  padding: 20px 20px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.footer {
  color: white;
  margin-top: 8vh;
  height: 6vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.82);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}